<% content_for :additional_links do %>
  <a href="<%= group_purchases_path(@group) %>" class="text-lg text-white"><i class="fas fa-arrow-left"></i></a>
<% end %>

<%= render 'form', purchase: @purchase %>

